/* ============================================================== */
/*                     全局通用基础样式                             */
/* ============================================================== */

QWidget {
    font-family: "Sans Serif";
}
