/* 硬件页面的 QSS 外观 */
HardwareControlPage_copy {
    background-color: #f5f5fa;
}
QPushButton {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
}
QPushButton:pressed {
    background-color: rgba(200, 200, 200, 0.4);
}
